<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Craft</title>
    <link rel="stylesheet" href="/boostrap/css/styles.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">
    <link href="../css/home.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="index.html">Coffee Craft</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="products.html">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
                <li class="nav-item">
                    <div class="cart-icon">
                        <a class="nav-link fas fa-shopping-cart" href="cart.html"></a>
                      <span id="cart-count" class="cart-count badge badge-info"></span>
                    </div>
                </li>
                <li id="optionLogin" class="nav-item">
                    <a id="login" class="nav-link" href="login.html">Log in</a>
                    <a id="logout" class="nav-link" onclick="logout()" href="login.html" style="display: none;">Log out</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <main>
            <div id="cart_container" class="row g-5">
                <div class="col-md-5 col-lg-4 order-md-last">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                    </h4>
                    <ul class="list-group mb-3" id="cart-items">
                    </ul>
                    <li class="list-group-item d-flex justify-content-between bg-light d-none" id="promo-code-li">
                        <div class="text-success">
                            <h6 class="my-0">Promo code</h6>
                            <small id="promo-code-text"></small>
                        </div>
                        <span class="text-success" id="promo-code-discount"></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total</span>
                        <strong id="cart-total">$0</strong>
                    </li>
                    <form class="card p-2">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Insert promo code">
                            <button type="submit" class="btn btn-secondary">Redeem</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-7 col-lg-8">
                    <h4 class="mb-3">Billing address</h4>
                    <form class="needs-validation" novalidate>
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <label for="firstName" class="form-label">First name</label>
                                <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                            </div>

                            <div class="col-sm-6">
                                <label for="lastName" class="form-label">Last name</label>
                                <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                            </div>

                            <div class="col-12">
                                <label for="email" class="form-label">Email <span class="text-muted">(Optional)</span></label>
                                <input type="email" class="form-control" id="email" placeholder="you@example.com">
                            </div>

                            <div class="col-12">
                                <label for="address" class="form-label">Address</label>
                                <input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
                            </div>

                            <div class="col-md-5">
                                <label for="country" class="form-label">Country</label>
                                <input type="text" class="form-control" id="address" placeholder="United State" required>
                            </div>

                            <div class="col-md-4">
                                <label for="state" class="form-label">State</label>
                                <input type="text" class="form-control" id="address" placeholder="California" required>
                            </div>

                            <div class="col-md-4">
                                <label for="zip" class="form-label">Zip</label>
                                <input type="text" class="form-control" id="zip" placeholder="78245" required>
                            </div>
                        </div>

                        <hr class="my-1">

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="same-address">
                            <label class="form-check-label" for="same-address">Shipping address is the same as my billing address</label>
                        </div>

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="save-info">
                            <label class="form-check-label" for="save-info">Save this information for next time</label>
                        </div>

                        <hr class="my-1">

                        <h4 class="mb-3">Payment</h4>

                        <div class="my-3">
                            <div class="form-check">
                                <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked required>
                                <label class="form-check-label" for="credit">Credit card</label>
                            </div>
                            <div class="form-check">
                                <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required>
                                <label class="form-check-label" for="debit">Debit card</label>
                            </div>
                        </div>

                        <div class="row gy-3">
                            <div class="col-md-6">
                                <label for="cc-name" class="form-label">Name on card</label>
                                <input type="text" class="form-control" id="cc-name" placeholder="" required>
                                <small class="text-muted">Full name as displayed on card</small>
                                <div class="invalid-feedback">
                                    Name on card is required
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label for="cc-number" class="form-label">Credit card number</label>
                                <input type="text" class="form-control" id="cc-number" placeholder="" required>
                                <div class="invalid-feedback">
                                    Credit card number is required
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label for="cc-expiration" class="form-label">Expiration</label>
                                <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                            </div>

                            <div class="col-md-3">
                                <label for="cc-cvv" class="form-label">CVV</label>
                                <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                            </div>
                        </div>

                        <hr class="my-4">

                        <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
                    </form>
                </div>
            </div>
        </main>
    </div>
    <!-- Footer -->
    <footer class="footer text-center">
        <div class="container">
            <p>&copy; 2024 Coffee Craft. All rights reserved.</p>
        </div>
    </footer>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
    <script>
        const promoCodes = {
            "LATE10": 10,
            "EXPRESSO20": 20,
            "MACHIATTO": 5,
            "MOCKA": 15
        };
    
        let appliedDiscount = 0;
    
        function validatePromoCode(code) {
            return promoCodes.hasOwnProperty(code.toUpperCase());
        }
    
        function applyPromoCode(code) {
            appliedDiscount = promoCodes[code.toUpperCase()];
            const promoElement = document.querySelector('#promo-code-li');
            const promoCodeText = document.querySelector('#promo-code-text');
            const promoCodeDiscount = document.querySelector('#promo-code-discount');
            const totalElement = document.querySelector('#cart-total');
    
            promoCodeText.textContent = code;
            promoCodeDiscount.textContent = `−$${appliedDiscount}`;
    
            let currentTotal = parseFloat(totalElement.textContent.replace('$', ''));
            let newTotal = currentTotal - appliedDiscount;
    
            totalElement.textContent = `$${newTotal.toFixed(2)}`;
    
            promoElement.classList.remove('d-none');
        }
    
        document.querySelector('form').addEventListener('submit', function(event) {
            event.preventDefault();
    
            const input = document.querySelector('input[type="text"]');
            const code = input.value.trim();
    
            if (validatePromoCode(code)) {
                applyPromoCode(code);
    
                confetti({
                    particleCount: 100,
                    spread: 70,
                    origin: { y: 0.6 }
                });
    
            } else {
                alert('Invalid promo code.');
            }
    
            input.value = '';
        });

        document.addEventListener('DOMContentLoaded', function() {
            let exampleProducts = [{
                id: 2,
                title: 'Colombia Geisha',
                description: 'Great Colombian coffe',
                quantity: 2,
                price: 12,
                images: '/boostrap/images/bolivia.jpg'
            },
            {
                id: 6,
                title: 'Brasil Dark',
                description: 'Great Brazilian coffe',
                quantity: 1,
                price: 8,
                images: '/boostrap/images/brasil-dark.jpg'
            },
            {
                id: 1,
                title: 'Bolivia Honey',
                description: 'Great Bolivian coffe',
                quantity: 3,
                price: 5,
                images: '/boostrap/images/bolivia-honey.jpg'
            }];
            localStorage.setItem('shopping_cart', JSON.stringify(exampleProducts));
    
            loadProducts();
        });
    
        function loadProducts() {
            const products = JSON.parse(localStorage.getItem('shopping_cart'));
            const cartItems = document.getElementById('cart-items');
            const cartCount = document.getElementById('cart-count');
            const cartTotal = document.getElementById('cart-total');
            
            let total = 0;
            cartItems.innerHTML = '';
    
            if (products) {
                products.forEach((product, index) => {
                    const item = document.createElement('li');
                    let totalProductPrice = product.price * product.quantity;
                    item.className = 'list-group-item d-flex justify-content-between lh-sm';
                    item.innerHTML = `
                        <div>
                            <h6 class="my-0">${product.title}</h6>
                            <small class="text-muted">${product.description}</small>
                        </div>
                        <div class="product-quantity">
                            <button class="btn btn-outline-secondary btn-sm" onclick="updateQuantity(${index}, -1)">−</button>
                            <span>${product.quantity}</span>
                            <button class="btn btn-outline-secondary btn-sm" onclick="updateQuantity(${index}, 1)">+</button>
                        </div>
                        <span class="text-muted">$${(totalProductPrice).toFixed(2)}</span>
                        <button class="btn btn-danger btn-sm" onclick="removeItem(${index})">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    `;
                    cartItems.appendChild(item);
                    total += totalProductPrice;
                });
    
                cartCount.textContent = products.length;
                cartTotal.textContent = `$${total}`;
    
                if (appliedDiscount > 0) {
                    let newTotal = total - appliedDiscount;
                    cartTotal.textContent = `$${newTotal.toFixed(2)}`;
                }
    
            } else {
                cartCount.textContent = '0';
                cartTotal.textContent = '$0';
            }
        }
    
        function removeItem(index) {
            let products = JSON.parse(localStorage.getItem('shopping_cart'));
            products.splice(index, 1);
            localStorage.setItem('shopping_cart', JSON.stringify(products));
            loadProducts();
        }

        function updateQuantity(index, change) {
            let products = JSON.parse(localStorage.getItem('shopping_cart'));

            if (products[index]) {
                products[index].quantity += change;

                // Asegurarse de que la cantidad no sea menor a 1
                if (products[index].quantity < 1) {
                    products[index].quantity = 1;
                }

                localStorage.setItem('shopping_cart', JSON.stringify(products));
                loadProducts(); // Recargar productos y recalcular el total
            }
        }
    </script>
</body>
</html>
