<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Craft</title>
    <link rel="stylesheet" href="/mdl/css/styles.css">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link href="../css/styles.css" rel="stylesheet">
    <link href="../css/home.css" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    <div class="mdl-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">Coffee Craft</span>
                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="index.html">Home</a>
                    <a class="mdl-navigation__link" href="products.html">Products</a>
                    <a class="mdl-navigation__link" href="about.html">About</a>
                    <a class="mdl-navigation__link" href="contact.html">Contact</a>
                    <a class="mdl-navigation__link" href="cart.html">
                        <i class="fas fa-shopping-cart"></i>
                        <span id="cart-count" class="mdl-badge" data-badge="0"></span>
                    </a>
                    <div id="optionLogin" class="mdl-navigation">
                        <a id="login" class="mdl-navigation__link" href="login.html">Log in</a>
                        <a id="logout" class="mdl-navigation__link" onclick="logout()" href="login.html" style="display: none;">Log out</a>
                    </div>
                </nav>
            </div>
        </header>
    </div>

    <div class="mdl-layout__content">
        <div class="mdl-grid">
            <main class="mdl-cell mdl-cell--8-col">
                <h4 class="mb-3">Billing address</h4>
                <form class="needs-validation" novalidate>
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--6-col">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" id="firstName" required>
                                <label class="mdl-textfield__label" for="firstName">First name</label>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" id="lastName" required>
                                <label class="mdl-textfield__label" for="lastName">Last name</label>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--12-col">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="email" id="email">
                                <label class="mdl-textfield__label" for="email">Email (Optional)</label>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--12-col">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" id="address" required>
                                <label class="mdl-textfield__label" for="address">Address</label>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--5-col">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" id="country" required>
                                <label class="mdl-textfield__label" for="country">Country</label>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--4-col">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" id="state" required>
                                <label class="mdl-textfield__label" for="state">State</label>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--4-col">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" id="zip" required>
                                <label class="mdl-textfield__label" for="zip">Zip</label>
                            </div>
                        </div>
                    </div>
                    <hr class="my-1">
                    <div class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                        <input type="checkbox" id="same-address" class="mdl-checkbox__input">
                        <label class="mdl-checkbox__label" for="same-address">Shipping address is the same as my billing address</label>
                    </div>
                    <div class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                        <input type="checkbox" id="save-info" class="mdl-checkbox__input">
                        <label class="mdl-checkbox__label" for="save-info">Save this information for next time</label>
                    </div>
                    <hr class="my-1">
                    <h4 class="mb-3">Payment</h4>
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--12-col">
                            <div class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                                <input type="radio" id="credit" name="paymentMethod" class="mdl-radio__button" checked required>
                                <label class="mdl-radio__label" for="credit">Credit card</label>
                            </div>
                            <div class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                                <input type="radio" id="debit" name="paymentMethod" class="mdl-radio__button" required>
                                <label class="mdl-radio__label" for="debit">Debit card</label>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" id="cc-name" required>
                                <label class="mdl-textfield__label" for="cc-name">Name on card</label>
                                <span class="mdl-textfield__error">Name on card is required</span>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" id="cc-number" required>
                                <label class="mdl-textfield__label" for="cc-number">Credit card number</label>
                                <span class="mdl-textfield__error">Credit card number is required</span>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--3-col">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" id="cc-expiration" required>
                                <label class="mdl-textfield__label" for="cc-expiration">Expiration</label>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--3-col">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" id="cc-cvv" required>
                                <label class="mdl-textfield__label" for="cc-cvv">CVV</label>
                            </div>
                        </div>
                    </div>
                    <hr class="my-4">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" type="submit">Continue to checkout</button>
                </form>
            </main>
            <aside class="mdl-cell mdl-cell--4-col">
                <h4 class="d-flex justify-content-between align-items-center mb-3"></h4>
                <ul class="mdl-list" id="cart-items"></ul>
                <li class="mdl-list__item d-flex justify-content-between bg-light d-none" id="promo-code-li">
                    <div class="text-success">
                        <h6 class="my-0">Promo code</h6>
                        <small id="promo-code-text"></small>
                    </div>
                    <span class="text-success" id="promo-code-value"></span>
                </li>
                <li class="mdl-list__item d-flex justify-content-between">
                    <span>Total (USD)</span>
                    <strong id="cart-total"></strong>
                </li>
                <form id="promo-code-form" class="card p-2" onsubmit="return applyPromoCode()">
                    <div class="input-group">
                        <input id="promo-code-input" type="text" class="form-control mdl-textfield__input" placeholder="Promo code">
                        <button id="btn-promo-code" type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Redeem</button>
                    </div>
                </form>
            </aside>
        </div>
    </div>
    <footer class="mdl-mega-footer">
        <div class="mdl-mega-footer__middle-section">
            <div class="mdl-logo">
                Coffee Craft
            </div>
            <ul class="mdl-mega-footer__link-list">
                <li><a href="#">Help</a></li>
                <li><a href="#">Privacy & Terms</a></li>
            </ul>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/calculateTotal.js"></script>
</body>
</html>
