<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Craft</title>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">
    <link href="../css/home.css" rel="stylesheet">
</head>

<body>
    <!-- Navbar -->
    <div class="mdl-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">Coffee Craft</span>
                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="index.html">Home</a>
                    <a class="mdl-navigation__link" href="products.html">Products</a>
                    <a class="mdl-navigation__link" href="about.html">About</a>
                    <a class="mdl-navigation__link" href="contact.html">Contact</a>
                    <div class="mdl-layout-spacer"></div>
                    <a class="mdl-navigation__link material-icons" href="cart.html">shopping_cart</a>
                    <span id="cart-count" class="mdl-chip__contact mdl-color--teal mdl-color-text--white">0</span>
                    <a id="login" class="mdl-navigation__link" href="login.html">Log in</a>
                    <a id="logout" class="mdl-navigation__link" onclick="logout()" href="login.html" style="display: none;">Log out</a>
                </nav>
            </div>
        </header>
    </div>

    <div id="billing_form" class="mdl-grid">
        <div class="mdl-cell mdl-cell--5-col">
            <h4 class="mb-3">Billing address</h4>
            <form class="needs-validation" novalidate>
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--6-col">
                        <label for="firstName" class="mdl-textfield__label">First name</label>
                        <input type="text" class="mdl-textfield__input" id="firstName" placeholder="" required>
                    </div>
                    <div class="mdl-cell mdl-cell--6-col">
                        <label for="lastName" class="mdl-textfield__label">Last name</label>
                        <input type="text" class="mdl-textfield__input" id="lastName" placeholder="" required>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col">
                        <label for="email" class="mdl-textfield__label">Email <span class="text-muted">(Optional)</span></label>
                        <input type="email" class="mdl-textfield__input" id="email" placeholder="you@example.com">
                    </div>
                    <div class="mdl-cell mdl-cell--12-col">
                        <label for="address" class="mdl-textfield__label">Address</label>
                        <input type="text" class="mdl-textfield__input" id="address" placeholder="1234 Main St" required>
                    </div>
                    <div class="mdl-cell mdl-cell--5-col">
                        <label for="country" class="mdl-textfield__label">Country</label>
                        <input type="text" class="mdl-textfield__input" id="country" placeholder="United States" required>
                    </div>
                    <div class="mdl-cell mdl-cell--4-col">
                        <label for="state" class="mdl-textfield__label">State</label>
                        <input type="text" class="mdl-textfield__input" id="state" placeholder="California" required>
                    </div>
                    <div class="mdl-cell mdl-cell--3-col">
                        <label for="zip" class="mdl-textfield__label">Zip</label>
                        <input type="text" class="mdl-textfield__input" id="zip" placeholder="78245" required>
                    </div>
                </div>
    
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--12-col">
                        <h4 class="mb-3">Payment</h4>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="credit">
                            <input type="radio" id="credit" class="mdl-radio__button" name="paymentMethod" value="credit" checked required>
                            <span class="mdl-radio__label">Credit card</span>
                        </label>
    
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="debit">
                            <input type="radio" id="debit" class="mdl-radio__button" name="paymentMethod" value="debit" required>
                            <span class="mdl-radio__label">Debit card</span>
                        </label>
                    </div>
                </div>
    
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--6-col">
                        <label for="cc-name" class="mdl-textfield__label">Name on card</label>
                        <input type="text" class="mdl-textfield__input" id="cc-name" placeholder="" required>
                        <small class="text-muted">Full name as displayed on card</small>
                    </div>
    
                    <div class="mdl-cell mdl-cell--6-col">
                        <label for="cc-number" class="mdl-textfield__label">Credit card number</label>
                        <input type="text" class="mdl-textfield__input" id="cc-number" placeholder="" required>
                    </div>
    
                    <div class="mdl-cell mdl-cell--6-col">
                        <label for="cc-expiration" class="mdl-textfield__label">Expiration</label>
                        <input type="text" class="mdl-textfield__input" id="cc-expiration" placeholder="" required>
                    </div>
    
                    <div class="mdl-cell mdl-cell--6-col">
                        <label for="cc-cvv" class="mdl-textfield__label">CVV</label>
                        <input type="text" class="mdl-textfield__input" id="cc-cvv" placeholder="" required>
                    </div>
                </div>
    
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored w-100" type="submit">Continue to checkout</button>
            </form>
        </div>
    
        <div class="mdl-cell">
            <ul class="mdl-list" id="cart-items"></ul>
            <li class="mdl-list__item mdl-list__item--three-line bg-light d-none" id="promo-code-li">
                <span class="mdl-list__item-primary-content">
                    <span class="text-success">
                        <h6 class="my-0">Promo code</h6>
                        <small id="promo-code-text"></small>
                    </span>
                </span>
                <span class="mdl-list__item-secondary-content">
                    <span class="text-success" id="promo-code-discount"></span>
                </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                    <span>Total</span>
                </span>
                <span class="mdl-list__item-secondary-content">
                    <strong id="cart-total">$0</strong>
                </span>
            </li>
            <form id="promo-code-form" class="mdl-grid">
                <div class="mdl-cell mdl-cell--8-col">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input type="text" class="mdl-textfield__input" id="promo-code" placeholder="Insert promo code">
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--4-col">
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Redeem</button>
                </div>
            </form>
            
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">&copy; 2024 Coffee Craft. All rights reserved.</div>
        </div>
    </footer>

    <!-- MDL JS -->
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
    <script>
        const promoCodes = {
            "LATE10": 10,
            "EXPRESSO20": 20,
            "MACHIATTO": 5,
            "MOCKA": 15
        };
    
        let appliedDiscount = 0;
    
        function validatePromoCode(code) {
            return promoCodes.hasOwnProperty(code.toUpperCase());
        }
    
        function applyPromoCode(code) {
            appliedDiscount = promoCodes[code.toUpperCase()];
            const promoElement = document.querySelector('#promo-code-li');
            const promoCodeText = document.querySelector('#promo-code-text');
            const promoCodeDiscount = document.querySelector('#promo-code-discount');
            const totalElement = document.querySelector('#cart-total');
    
            promoCodeText.textContent = code;
            promoCodeDiscount.textContent = `−$${appliedDiscount}`;
    
            let currentTotal = parseFloat(totalElement.textContent.replace('$', ''));
            let newTotal = currentTotal - appliedDiscount;
    
            totalElement.textContent = `$${newTotal.toFixed(2)}`;
    
            promoElement.classList.remove('d-none');
        }
    
        document.querySelector('#promo-code-form').addEventListener('submit', function(event) {
            event.preventDefault();
    
            const input = document.getElementById('promo-code');
            const code = input.value;
    
            if (validatePromoCode(code)) {
                applyPromoCode(code);
    
                confetti({
                    particleCount: 100,
                    spread: 70,
                    origin: { y: 0.6 }
                });
    
            } else {
                alert('Invalid promo code.');
            }
    
            input.value = '';
        });

        document.addEventListener('DOMContentLoaded', function() {
            let exampleProducts = [{
                id: 2,
                title: 'Colombia Geisha',
                description: 'Great Colombian coffe',
                quantity: 2,
                price: 12,
                images: '/boostrap/images/bolivia.jpg'
            },
            {
                id: 6,
                title: 'Brasil Dark',
                description: 'Great Brazilian coffe',
                quantity: 1,
                price: 8,
                images: '/boostrap/images/brasil-dark.jpg'
            },
            {
                id: 1,
                title: 'Bolivia Honey',
                description: 'Great Bolivian coffe',
                quantity: 3,
                price: 5,
                images: '/boostrap/images/bolivia-honey.jpg'
            }];
            localStorage.setItem('shopping_cart_mdl', JSON.stringify(exampleProducts));
    
            loadProducts();
        });
    
        function loadProducts() {
            const products = JSON.parse(localStorage.getItem('shopping_cart_mdl'));
            const cartItems = document.getElementById('cart-items');
            const cartCount = document.getElementById('cart-count');
            const cartTotal = document.getElementById('cart-total');
            
            let total = 0;
            cartItems.innerHTML = '';
    
            if (products) {
                products.forEach((product, index) => {
                    const item = document.createElement('li');
                    let totalProductPrice = product.price * product.quantity;
                    item.className = 'mdl-list__item mdl-list__item--three-line';
                    item.innerHTML = `
                        <span class="mdl-list__item-primary-content">
                            <span>${product.title}</span>
                            <span class="mdl-list__item-text-body">
                                ${product.description}
                            </span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <div class="product-quantity">
                                <button class="mdl-button mdl-js-button mdl-button--icon" onclick="updateQuantity(${index}, -1)">
                                    <i class="material-icons">remove</i>
                                </button>
                                <span>${product.quantity}</span>
                                <button class="mdl-button mdl-js-button mdl-button--icon" onclick="updateQuantity(${index}, 1)">
                                    <i class="material-icons">add</i>
                                </button>
                            </div>
                        </span>
                        <span class="mdl-list__item-secondary-info">$${(totalProductPrice).toFixed(2)}</span>
                        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent" onclick="removeItem(${index})">
                            <i class="material-icons">delete</i>
                        </button>
                    `;
                    cartItems.appendChild(item);
                    total += totalProductPrice;
                });
    
                cartCount.textContent = products.length;
                cartTotal.textContent = `$${total}`;
    
                if (appliedDiscount > 0) {
                    let newTotal = total - appliedDiscount;
                    cartTotal.textContent = `$${newTotal.toFixed(2)}`;
                }
    
            } else {
                cartCount.textContent = '0';
                cartTotal.textContent = '$0';
            }
        }
    
        function removeItem(index) {
            let products = JSON.parse(localStorage.getItem('shopping_cart_mdl'));
            products.splice(index, 1);
            localStorage.setItem('shopping_cart_mdl', JSON.stringify(products));
            loadProducts();
        }

        function updateQuantity(index, change) {
            let products = JSON.parse(localStorage.getItem('shopping_cart_mdl'));

            if (products[index]) {
                products[index].quantity += change;

                if (products[index].quantity < 1) {
                    products[index].quantity = 1;
                }

                localStorage.setItem('shopping_cart_mdl', JSON.stringify(products));
                loadProducts();
            }
        }
    </script>
</body>

</html>
