<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Craft</title>
    <link rel="stylesheet" href="/mdl/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.3.0/material.indigo-pink.min.css">
</head>
<body>
    <!-- Navbar -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title tittle-header">Coffee Craft</span>
                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="index.html">Home</a>
                    <a class="mdl-navigation__link" href="products.html">Products</a>
                    <a class="mdl-navigation__link" href="about.html">About</a>
                    <a class="mdl-navigation__link" href="contact.html">Contact</a>
                </nav>
            </div>
        </header>

        <main class="mdl-layout__content">
            <div class="center-content">
                <div class="login-form">
                    <div class="text-center">
                        <h2 class="tittle-login">Log In</h2>
                    </div>
                    <!-- Main Content -->
                    <div class="container-inputs">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label custom-white-input">
                            <input class="mdl-textfield__input " type="email" id="email">
                            <label class="mdl-textfield__label" for="email">Email</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label custom-white-input">
                            <input class="mdl-textfield__input" type="password" id="password">
                            <label class="mdl-textfield__label" for="password">Password</label>
                        </div>
                    </div>
                    <div class="container-button">
                        <button class="mdl-button-custom" onclick="login()">
                            Send
                        </button>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <!-- Footer -->
    <footer class="footer text-center">
        <div class="footer-container">
            <p>&copy; 2024 Coffee Craft. All rights reserved.</p>
        </div>
    </footer>

    <!-- MDL JS -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.3.0/material.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</body>
</html>
