body {
    background-color: #ddb892;
    color: #5c3d2e;
    font-family: 'Playfair Display', serif !important;
}

.mdl-layout__header {
    background-color: #6f4e37;
}

.mdl-navigation__link, .mdl-layout-title {
    color: #f8f1e4;
}

.mdl-navigation__link:hover, .mdl-layout-title:hover {
    color: #ddb892;
}

.marketing {
    margin-top: 10%;
}

.jumbotron-background {
    position: relative;
    background-size: cover;
    background-color: #ddb892;
    background-position: center;
}

.mdl-grid.mdl-grid--no-spacing {
    padding: 2rem 2rem;
    height: 100vh;
    color: #fff;
    height: 100%;
    width: auto;
    margin: 0;
    border-radius: 0;
}

.why-choose-us {
    background-color: #ddb892 !important;
}

.why-choose-us-item {
    margin-bottom: 30px;
}

.why-choose-us-item.left {
    text-align: left;
}

.why-choose-us-item.right {
    text-align: right;
}

.mdl-card {
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.mdl-card:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.tab-content img {
    max-width: 100%;
}

.tab-pane {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tab-content img {
    display: block;
    margin: 0 auto;
    max-width: 50%;
    height: auto;
    max-height: 50%;
}

.tab-pane h3 {
    font-weight: bold;
}

.mdl-tabs__tab.is-active {
    font-weight: bold;
    color: #d4af37;
}

.coffe-icon {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.imagen-circular {
    width: 350px;
    height: 350px;
    background: url('../../images/coffe-background-1.jpeg') no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}

.imagen-circular img {
    width: 80%;
    height: auto;
    border-radius: 50%;
}

.fade-in {
    animation: fadeIn 1s ease-out forwards;
    opacity: 0;
}

.fade-in.delay-1 {
    animation-delay: 0.5s;
}

.fade-in.delay-2 {
    animation-delay: 1s;
}

.section {
    padding: 60px 0;
    background-color: #ddb892;
}

.mdl-grid .mdl-cell--4-col {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.mdl-grid .mdl-cell--4-col p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.featurette-divider {
    margin: 5rem 0;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
}

@media (min-width: 40em) {
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}
