body {
    background-color: #ddb892;
    color: #5c3d2e;
    font-family: 'Playfair Display', serif !important;
}

.mdl-layout__header {
    background-color: #6f4e37 !important;
    font-family: 'Playfair Display', serif;
}

.mdl-navigation__link, .mdl-layout-title {
    color: #f8f1e4;
    padding: 0px 7px!important;
}

.mdl-navigation__link:hover, .mdl-layout-title:hover {
    color: #ddb892;
}

.mdl-grid {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
}

.mdl-grid.mdl-grid--no-spacing {
    padding: 0;
    height: auto;
    background-color: #ddb892;
    color: #5c3d2e;
}

.section {
    padding: 60px 0;
}

.section-title {
    margin-bottom: 40px;
    font-size: 2.5rem;
    text-align: center;
}

.mdl-card {
    border: none;
    border-radius: 10px;
}

.mdl-card__supporting-text {
    background-color: #fff;
}

.mdl-mini-footer {
    background-color: #6f4e37;
    color: #f8f1e4;
    padding: 20px 0;
}

.social-icons {
    color: #ddb892;
}

.icons {
    color: #5c3d2e;
}

.mdl-button.btn-custom {
    background-color: #6f4e37;
    color: #f8f1e4;
    padding: .25rem .5rem;
    font-size: .75rem;
}

.mdl-button-custom {
    background-color: #6f4e37;
    color: #f8f1e4;
    padding: 2%;
    font-size: 100%;
    border-radius: 3px;
}

.mdl-button-custom:hover {
    background-color: #bca77d;
    border-radius: 8px;
}

.mdl-button.btn-custom:hover {
    background-color: #bca77d;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 1s ease-out forwards;
    opacity: 0;
}

.fade-in.delay-1 {
    animation-delay: 0.5s;
}

.fade-in.delay-2 {
    animation-delay: 1s;
}

.footer {
    font-family: 'Playfair Display', serif;
    background-color: #6f4e37;
    color: #f8f1e4;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 0;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
}

.tittle-login {
    font-family: 'Playfair Display', serif;
    margin-top: 15%;
    margin-bottom: 8%;
    text-align: center;
}

.container-button {
    margin-top: 2%;
    width: 100%;
    text-align: left;
}

.login-form {
    width: 100%;
    max-width: 800px;
    padding: 10px;
    border-radius: 8px;
}

.account-link {
    font-size: 1rem;
}

.custom-white-input .mdl-textfield__input {
    background-color: white;
    width: 100%;
    box-sizing: border-box;
}

.mdl-textfield {
    width: 100% !important;
    box-sizing: border-box;
}

.input-container {
    max-width: 850px;
    margin: auto;
}

.tittle-header {
    font-family: 'Playfair Display', serif;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.footer-text {
    font-size: 100%;
}

.mdl-button--raised.mdl-button--colored {
    background-color: #6f4e37 !important;
    color: #f8f1e4;
    padding-left: 2rem;
    padding-right: 2rem;
    width: auto;
}

.mdl-button--raised.mdl-button--colored:hover {
    background-color: #bca77d;
}

#billing_form {
    max-width: 900%;
    padding: 0;
    display: flex;
    width: 100%;
    margin: 0 20%;
}

#cart-items li {
    background-color: #fff;
    max-width: 80%;
}

#billing_form .mdl-textfield__input {
    background-color: #fff;
}

.coffee-bean-container {
    text-align: center;
    margin-top: 6%;
}

#coffee-bean {
    position: relative;
    width: 150px;
    height: 200px;
}

#coffee-bean .hand {
    transition: transform 0.5s ease;
    transform-origin: top center;
}

#coffee-bean .eye {
    transition: transform 0.2s ease;
    transform-origin: center center;
}

.mouth {
    fill: #000;
}

.hendidura {
    fill: none;
    stroke: #3B2D1F;
    stroke-width: 7;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.sombra-hendidura {
    fill: none;
    stroke: #2A1E12;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
    opacity: 0.7;
}

.mdl-layout__content {
    padding-bottom: 20px;
}

.product-info {
    flex-basis: 50%;
    flex-grow: 1;
}

.product-quantity {
    flex-basis: 20%;
    justify-content: center;
}

.price {
    flex-basis: 20%;
    text-align: right;
}

.mdl-list__item, .mdl-list__item .mdl-list__item-primary-content {
    padding: 0%;
}

.mdl-list__item {
    margin: 2%;
}

@media (min-width: 900px) and (max-width: 1450px) and (min-height: 700px) and (max-height: 830px) {
    .coffee-bean-container {
        margin-top: 2%;
    }
    .login-form {
        margin-top: -5%;
    }
}

@media (min-height: 700px) and (max-height: 1000px) {
    .coffee-bean-container {
        margin-top: 2%;
    }
    .login-form {
        margin-top: -5%;
    }
}

@media (min-width: 300px) and (max-width: 500px) {
    .coffee-bean-container {
        margin-top: 2%;
    }
    .login-form {
        max-width: 300px;
    }
}
