body {
    background-color: #ddb892;
    color: #5c3d2e;
    font-family: 'Playfair Display', serif;
}

.mdl-layout__header {
    background-color: #6f4e37 !important;
    font-family: 'Playfair Display', serif;
}

.mdl-navigation__link, .mdl-layout-title {
    color: #f8f1e4;
}

.mdl-navigation__link:hover, .mdl-layout-title:hover {
    color: #ddb892;
}

.mdl-grid.mdl-grid--no-spacing {
    padding: 10rem 10rem;
    height: 100vh;
    background-color: #ddb892;
    color: #5c3d2e;
}

.section {
    padding: 60px 0;
}

.section-title {
    margin-bottom: 40px;
    font-size: 2.5rem;
    text-align: center;
}

.mdl-card {
    border: none;
    border-radius: 10px;
}

.mdl-card__supporting-text {
    background-color: #fff;
}

.mdl-mini-footer {
    background-color: #6f4e37;
    color: #f8f1e4;
    padding: 20px 0;
}

.social-icons {
    color: #ddb892;
}

.icons {
    color: #5c3d2e;
}

.mdl-button.btn-custom {
    background-color: #6f4e37;
    color: #f8f1e4;
    padding: .25rem .5rem;
    font-size: .75rem;
}

.mdl-button-custom {
    background-color: #6f4e37;
    color: #f8f1e4;
    padding: 2%;
    font-size: 100%;
    border-radius: 3px;
}

.mdl-button-custom:hover {
    background-color: #bca77d;
    border-radius: 8px;
}

.mdl-button.btn-custom:hover {
    background-color: #bca77d;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 1s ease-out forwards;
    opacity: 0;
}

.fade-in.delay-1 {
    animation-delay: 0.5s;
}

.fade-in.delay-2 {
    animation-delay: 1s;
}


.footer {
    font-family: 'Playfair Display', serif;
    background-color: #6f4e37;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
}

.tittle-login {
    font-family: 'Playfair Display', serif;
    margin-top: 20%;
    margin-bottom: 8%;
    text-align: center;
}

.container-button {
    margin-top: 2%;
    justify-content: center;
    display: flex;
    margin-right: 38%;
}

.login-form {
    width: 100%;
    max-width: 650px;
    padding: 20px;
    border-radius: 8px;
}

.custom-white-input .mdl-textfield__input {
    background-color: white;
}

.input-container {
    max-width: 850px;
    margin: auto;
}

.tittle-header {
    font-family: 'Playfair Display', serif;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.mdl-button--raised.mdl-button--colored {
    background-color: #6f4e37 !important;
    color: #f8f1e4;
}

.mdl-button--raised.mdl-button--colored:hover {
    background-color: #bca77d;
}

#billing_form {
    max-width: 900%;
    padding: 0;
    display: flex;
    width: 100%;
    margin: 0 20%;
}

#cart-items li {
    background-color: #fff;
    max-width: 60%;
}

#billing_form .mdl-textfield__input {
    background-color: #fff;
}