.jumbotron {
    height: 100vh;
    background-color: #ddb892;
    color: #5c3d2e;
    font-family: 'Playfair Display', serif;
    height: 100%;
    width: auto;
    margin: 0;
    padding: 10rem 10rem;
}

.section {
    padding: 60px 0;
}
.section-title {
    margin-bottom: 40px;
    font-size: 2.5rem;
    text-align: center;
}

body {
    background-color: #ddb892;
    color: #5c3d2e;
    font-family: 'Playfair Display', serif;
}

.navbar {
    background-color: #6f4e37;
}

.navbar-brand, .navbar-nav .nav-link {
    color: #f8f1e4;
}

.navbar-brand:hover, .navbar-nav .nav-link:hover {
    color: #ddb892;
}

.jumbotron-secondary {
    background-color: #ddb892;
    color: #5c3d2e;
}

.card {
    border: none;
    border-radius: 10px;
}

.card-body {
    background-color: #fff;
}

.footer {
    background-color: #6f4e37;
    color: #f8f1e4;
    padding: 20px 0;
}

.social-icons {
    color: #ddb892;
}

.icons {
    color: #5c3d2e;
}

.btn-custom {
    background-color: #6f4e37;
    color: #f8f1e4;
    --bs-btn-padding-y: .25rem;
    --bs-btn-padding-x: .5rem;
    --bs-btn-font-size: .75rem;
}

.btn-custom:hover {
    background-color: #bca77d;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.jumbotron .fade-in {
    animation: fadeIn 1s ease-out forwards;
    opacity: 0;
}

.jumbotron .fade-in.delay-1 {
    animation-delay: 0.5s;
}

.jumbotron .fade-in.delay-2 {
    animation-delay: 1s;
}


.cart-icon {
    position: relative;
    display: inline-block;
    margin: 1%;
}
  
.cart-icon button {
    border: none;
    background: none;
    color: white;
    font-size: 20px;
}
  
.cart-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background: #ddb892;
    color: black;
    border-radius: 25%;
    padding: 3px 6px;
    font-size: 10px;
}

#cart_container {
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 5%;
}

#cart_container .list-group-item {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
}

.coffee-bean-container {
    text-align: center;
    margin-bottom: 7%;
    margin-top: 5%;
}

.tittle-login {
    margin-bottom: 5%;
}

#coffee-bean {
    position: relative;
    width: 150px;
    height: 200px;
}

#coffee-bean .hand {
    transition: transform 0.5s ease;
    transform-origin: top center;
}

#coffee-bean .eye {
    transition: transform 0.2s ease;
    transform-origin: center center;
}

.mouth {
    fill: #000;
}

.hendidura {
    fill: none;
    stroke: #3B2D1F;
    stroke-width: 8;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.sombra-hendidura {
    fill: none;
    stroke: #2A1E12;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
    opacity: 0.7;
}

.featurette-image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s;
}

.overlay-text {
    font-size: 1.5em;
    text-align: center;
}

.featurette-image-wrapper:hover .overlay {
    opacity: 1;
}

.featurette-image-container {
    width: 350px;
    height: 350px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 5%;
}

.featurette-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-info {
    flex-basis: 50%;
    flex-grow: 1;
}

.product-quantity {
    flex-basis: 20%;
    justify-content: center;
}

.price {
    flex-basis: 20%;
    text-align: right;
}
